body {
    line-height: 1.5;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.comeco {
    color: rgb(0, 0, 0);
    background-color: #F6A8A7;
    /* background-image: url(https://s3.amazonaws.com/ameliaandsteveassets/topo.svg); */
    background-image: url(img/Barbara&Alestan_Sessão-198.jpg);
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.75em;
    margin-left: 0px;
    font-size: 3rem;
}

.comeco h1 {
    font-size: 150px;
    font-weight: 300;
    font-family: 'MonteCarlo', cursive;
    overflow: hidden;
}

.frase1 {
    font-size: 23px;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-weight: 500;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ANDE {
    display: none;
}

#nav {
    display: none;
}

.nav-list {
    list-style-type: none;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.nav-list li {
    float: left;
    text-align: center;
}

.nav-list a {
    transition: color .3s linear;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    text-align: center;
    display: block;
    color: rgb(0, 0, 0);
    padding: 25px 16px;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .2em;
    text-align: center;
}

.nav-list li a:hover {
    background: 0 0;
    color: #b18f3a;
}

#btn-mobile {
    display: none;
    cursor: pointer;
    padding: 10px 10px;
}

.btn-mobile div {
    width: 32px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 8px;
}

.event_img {
    margin-top: 50px;
    width: 100px;
}

.QUANDO {
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .3em;
}

.DATE {
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
}

.DATE p {
    font-size: 1.2rem;
    font-weight: 300;
    overflow-x: hidden;
}

.ONDE {
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .3em;
    overflow-x: hidden;
}

.LISTA {
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .3em;
    overflow-x: hidden;
}


.sitio{
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px;
}

.underline {
    display: block;
    width: 60px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #333;
}


.link-button.golden, input[type=submit].link-button.golden {
    color: #b18f3a;
    border-color: #b18f3a;
}

.link-button.golden {
    background-color: #fff;
    color: #b18f3a;
}

.link-button, input[type=submit].link-button {
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 0;
    color: #b18f3a;
    background-color: #b18f3a;
    display: inline-block;
    font-size: inherit;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-weight: 600;
    margin: 1em 0;
    padding: .3em .7em!important;
    -webkit-appearance: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
}

.link-button.golden:hover {
    transition: color .2s linear;
    background-color:  #b18f3a;
    color: #fff;
}

.dia {
    letter-spacing: .1em;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
}

.estrada {
    letter-spacing: .1em;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
}


.trajes {
    color: #fff;
    background-color: #ddaf94;
    background-image: url(https://s3.amazonaws.com/ameliaandsteveassets/topo.svg);
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.75em;
    margin-left: 0px;
    font-size: 3rem;
}

.trajes h1 {
    text-transform: lowercase;
    font-family: 'Surveyor Display','Surveyor Display A','Surveyor Display B',serif;
    font-weight: 500;
}

.trajes1 {
    font-size: 23px;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-weight: 100;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

script {
    display: none;
}

@media (max-width: 600px){

    .ANDE {
        display: block;
    }

    .nav-list {
        display: none;
    }

    #nav {
        display: block;
        text-decoration: none;
        font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    }

    .comeco {
        color: rgb(255, 255, 255);
        background-color: #F6A8A7;
        background-image: url(https://s3.amazonaws.com/ameliaandsteveassets/topo.svg);
        /* background-image: url(img/Barbara&Alestan_Sessão-celular2.jpg);  */
    } 

    .comeco h1 {
        font-size: 100px;
        font-weight: 300;
        overflow-x: hidden;
        font-family: 'MonteCarlo', cursive;
        line-height: 90%; 
    }

    .frase1 {
        font-size: 15px;
        letter-spacing: .2em;
        text-align: center;
        text-transform: uppercase;
        font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
        font-weight: 500;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        right: 0px;
        background:  #F6A8A7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }
      #nav.active #menu {
        color: #fff;
        height: calc(30vh - 70px);
        visibility: visible;
        overflow-y: auto;
        font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
        text-decoration: none;
      }
      #menu a {
        color: #fff;
        padding: 1rem 0;
        font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
        text-decoration: none;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      }
      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        width: 20px;
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav.active #hamburger {
        border-top-color: transparent;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
}

